.slider {
	overflow: hidden;
	position: relative;
}
.slider img {
	display: block;
	width: 100%;
	max-width: none;
}
.slider .resize {
	height: 100%;
	width: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
