body {
	font-family: 'Futura', Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.main-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.painting-wrapper {
	position: relative;
	height: auto;
	width: 75%;
}
.opacity-tools {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	padding-left: 2rem;
	height: 800px;
	width: 25%;
}
.painting {
	height: auto;
	width: 100%;
	position: absolute;

	img {
		width: 100%;
	}
}
.is-bottom {
	z-index: 5;
}
.is-top {
	z-index: 10;
}
.btn {
	background-color: purple;
	color: white;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 4rem;
	width: 8rem;
	margin: 1rem 0;
}
.is-active {
	background-color: pink;
	color: black;
}
.is-0 {
	opacity: 0;
}
.is-25 {
	opacity: .25;
}
.is-50 {
	opacity: .5;
}
.is-75 {
	opacity: .75;
}
is-100 {
	opacity: 1;
}




























