* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
}

.wrapper {
	width: 100vw;
	margin: 0 auto;
	position: relative;
	cursor: none;
}

.mn-1757 {
	display: none;
	height: 100%;
	width: 15%;
	margin: 0 auto;
	position: absolute;
/*	overflow: hidden;*/

	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

}
/*.mn-1757 img {
	position: absolute;
	height: 100%;

}*/

.mn-1791 {
	display: block;
	width: 100vw;
/*	border: 2px solid green;*/
/*	margin: 0 auto;*/
}

.thumbnails {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-top: 2rem;
}
.thumbnail {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.thumbnail a {
	margin-top: .5rem;
}


img.thumbnail__1757 {
	margin: 0 .5rem;
	width: 150px;
}
img.thumbnail__1765a {
	margin: 0 .5rem;
	width: 200px;
}

.is-active {
	border: 5px solid purple;
}