html {
  font-family: Georgia;
  font-weight: 300;
  font-size: 16px; }
  html a {
    color: #000;
    text-decoration: none; }

body {
  background-color: white;
  margin: 0;
  padding: 0;
  position: relative; }

p {
  margin: 0; }

.article {
  font-size: 72px;
  font-weight: 600;
  text-align: center;
  height: 800px;
  width: 100%;
  position: relative;
  top: 100px; }

.graphic__wrapper h4 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: left;
  margin-top: 2rem; }

.graphic__wrapper h5 {
  font-size: 1rem;
  line-height: 2rem;
  text-align: left;
  margin-top: 2rem; }

.minimap__container {
  border: .25rem solid #666;
  -webkit-box-shadow: 0 0 1rem #000;
  box-shadow: 0 0 1rem #000;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  width: 15%;
  margin: 1.25rem;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; }

.my-minimap__wrapper {
  height: auto;
  width: 105%; }

.my-minimap--hidden {
  display: none; }

.my-minimap--visible {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.my-minimap {
  width: 100%; }

.my-minimap__viewing-area {
  background-color: rgba(100, 0, 0, 0.5);
  height: 100%;
  width: 120%;
  position: absolute;
  top: 0;
  z-index: 10; }

.my-minimap__animation--reset {
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-minimap__animation--1 {
  -webkit-transform: translate3d(13%, 11%, 0) scale3d(0.34, 0.34, 0.34);
  transform: translate3d(13%, 11%, 0) scale3d(0.34, 0.34, 0.34);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-minimap__animation--2 {
  -webkit-transform: translate3d(3%, 8%, 0) scale3d(0.53, 0.53, 0.53);
  transform: translate3d(3%, 8%, 0) scale3d(0.53, 0.53, 0.53);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-minimap__animation--3 {
  -webkit-transform: translate3d(14%, 13%, 0) scale3d(0.47, 0.47, 0.47);
  transform: translate3d(14%, 13%, 0) scale3d(0.47, 0.47, 0.47);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-minimap__animation--4 {
  -webkit-transform: translate3d(7%, -10%, 0) scale3d(0.27, 0.37, 0.3);
  transform: translate3d(7%, -10%, 0) scale3d(0.27, 0.37, 0.3);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

#my-offset-debug {
  background-color: red;
  height: 2px;
  width: 100vw;
  position: fixed;
  top: 150px;
  z-index: 1000; }

.stuck {
  position: fixed;
  top: 0; }

.graphic__prose {
  width: 25%; }

.basic-waypoint-bkg {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  min-height: 100px;
  /*	width: 100%;*/
  padding: 2rem;
  position: relative; }

#basic-waypoint {
  top: 50vh;
  left: 18%; }

#basic-waypoint-2 {
  top: 150vh;
  left: 18%; }

#basic-waypoint-3 {
  top: 250vh;
  left: 18%; }

#basic-waypoint-4 {
  top: 380vh;
  left: 18%;
  /*	strong {
		font-weight: 800;
	}*/ }
  #basic-waypoint-4 img {
    max-width: 100%; }
  #basic-waypoint-4 p.caption {
    font-size: .75rem;
    line-height: 1rem;
    text-align: left;
    padding-top: .5rem; }

.basic-sticky-waypoint {
  height: auto;
  width: 100%;
  overflow: hidden; }

.my-image {
  height: auto;
  width: 100%; }

.my-image--filtered {
  -webkit-filter: grayscale(85%);
  filter: grayscale(85%); }

.my-image__animation--reset {
  -webkit-filter: grayscale(85%);
  filter: grayscale(85%);
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transition-property: -webkit-filter, -webkit-transform;
  transition-property: -webkit-filter, -webkit-transform;
  -o-transition-property: filter, transform;
  transition-property: filter, transform;
  transition-property: filter, transform, -webkit-filter, -webkit-transform;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-image__animation--1 {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: translate3d(-65%, -38%, 0) scale3d(2.6, 2.6, 2.6);
  transform: translate3d(-65%, -38%, 0) scale3d(2.6, 2.6, 2.6);
  -webkit-transition-property: -webkit-filter, -webkit-transform;
  transition-property: -webkit-filter, -webkit-transform;
  -o-transition-property: filter, transform;
  transition-property: filter, transform;
  transition-property: filter, transform, -webkit-filter, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-image__animation--2 {
  -webkit-transform: translate3d(-22%, -20%, 0) scale3d(1.6, 1.6, 1.6);
  transform: translate3d(-22%, -20%, 0) scale3d(1.6, 1.6, 1.6);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-image__animation--3 {
  -webkit-transform: translate3d(-48%, -30%, 0) scale3d(2, 2, 2);
  transform: translate3d(-48%, -30%, 0) scale3d(2, 2, 2);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-image__animation--4 {
  -webkit-transform: translate3d(-56%, 20%, 0) scale3d(3, 3, 3);
  transform: translate3d(-56%, 20%, 0) scale3d(3, 3, 3);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-image__animation--end {
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-test-in {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-test-out {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

@media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
  /* phones in landscape */ }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* tablets */ }

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  /* small laptops */ }

@media screen and (min-width: 1200px) and (max-width: 1379px) {
  /* laptops */ }

@media screen and (min-width: 1380px) and (max-width: 1560px) {
  /* desktops */ }

@media screen and (min-width: 1561px) and (max-width: 1700px) {
  /* large desktops */ }
