html {
  font-family: Georgia;
  font-weight: 300;
  font-size: 16px; }
  html a {
    color: #000;
    text-decoration: none; }

body {
  background-color: white;
  margin: 0;
  padding: 0;
  position: relative;
  height: 2000vh; }

p {
  margin-bottom: 2rem; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -.75rem; }

sub {
  top: .5rem; }

h4 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: left;
  margin-top: 2rem; }

h5 {
  font-size: 1rem;
  line-height: 2rem;
  text-align: left;
  margin-top: 2rem; }

.article {
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: left;
  width: 100vh;
  margin: 5rem 20rem 5rem 2rem;
  position: relative; }

.sticky-wrapper {
  border: 1px solid green; }

.graphic__wrapper {
  position: relative; }

#my-offset-debug {
  background-color: red;
  height: 2px;
  width: 100vw;
  position: fixed;
  top: 150px;
  z-index: 1000; }

.stuck {
  position: fixed;
  top: 0; }

.stuck-below-graphic {
  position: fixed; }

.unstuck {
  position: absolute;
  top: 0; }

.graphic-prose__wrapper {
  border: 2px solid red;
  z-index: 50;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  overflow: hidden; }

.graphic__prose {
  width: 25%; }

.basic-waypoint-bkg {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  min-height: 300px;
  /*	width: 100%;*/
  padding: 2rem;
  position: relative; }

#basic-waypoint {
  top: 50vh;
  left: 55vw; }

#basic-waypoint-2 {
  top: 150vh;
  left: 36vw; }

#basic-waypoint-3 {
  top: 250vh;
  left: 41vw; }

#basic-waypoint-4 {
  top: 350vh;
  left: 29vw;
  /*	strong {
		font-weight: 800;
	}*/ }
  #basic-waypoint-4 img {
    max-width: 100%; }
  #basic-waypoint-4 p.caption {
    font-size: .75rem;
    line-height: 1rem;
    text-align: left;
    padding-top: .5rem; }

.basic-sticky-waypoint {
  height: auto;
  width: 100%;
  overflow: hidden; }

.my-image {
  height: auto;
  width: 100%; }

.my-image--filtered {
  -webkit-filter: grayscale(85%);
  filter: grayscale(85%); }

.my-image__animation--reset {
  -webkit-filter: grayscale(85%);
  filter: grayscale(85%);
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transition-property: -webkit-filter, -webkit-transform;
  transition-property: -webkit-filter, -webkit-transform;
  -o-transition-property: filter, transform;
  transition-property: filter, transform;
  transition-property: filter, transform, -webkit-filter, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-image__animation--1 {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transform: translate3d(-65%, -38%, 0) scale3d(2.6, 2.6, 2.6);
  transform: translate3d(-65%, -38%, 0) scale3d(2.6, 2.6, 2.6);
  -webkit-transition-property: -webkit-filter, -webkit-transform;
  transition-property: -webkit-filter, -webkit-transform;
  -o-transition-property: filter, transform;
  transition-property: filter, transform;
  transition-property: filter, transform, -webkit-filter, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-image__animation--2 {
  -webkit-transform: translate3d(-22%, -20%, 0) scale3d(1.6, 1.6, 1.6);
  transform: translate3d(-22%, -20%, 0) scale3d(1.6, 1.6, 1.6);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-image__animation--3 {
  -webkit-transform: translate3d(-48%, -30%, 0) scale3d(2, 2, 2);
  transform: translate3d(-48%, -30%, 0) scale3d(2, 2, 2);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-image__animation--4 {
  -webkit-transform: translate3d(-56%, 20%, 0) scale3d(3, 3, 3);
  transform: translate3d(-56%, 20%, 0) scale3d(3, 3, 3);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-image__animation--end {
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-test-in {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.my-test-out {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

@media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
  /* phones in landscape */ }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* tablets */ }

@media screen and (min-width: 1025px) and (max-width: 1199px) {
  /* small laptops */ }

@media screen and (min-width: 1200px) and (max-width: 1379px) {
  /* laptops */ }

@media screen and (min-width: 1380px) and (max-width: 1560px) {
  /* desktops */ }

@media screen and (min-width: 1561px) and (max-width: 1700px) {
  /* large desktops */ }
